<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!--header css declarations-->
    <th:block th:replace="base :: headstart"/>
    <title>Resume Generator</title>

</head>
<body>
<!--Navigation bar-->
<div th:replace="base :: mynav"></div>


<!--output-->
<div class="card">
    <div class="card-header" role="tab" id="headingHead">
        <h5 class="mb-0">
            <a data-toggle="collapse" href="#collapseHead" aria-expanded="true" aria-controls="collapseHead">
                Contact information
            </a>
        </h5>
    </div>

    <div id="collapseHead" class="collapse show" role="tabpanel" aria-labelledby="headingHead" data-parent="#accordion">
        <div class="card-body">
            <span th:if="${person}==null">
                You haven't entered your personal information yet!
            </span>
            <span th:if="${person}!=null">
            <table>
                <tr>
                    <th>First name</th>
                    <th>Last name</th>
                    <th>Email address</th>
                </tr>
                <tr>
                    <td th:text="${person.firstName}"></td>
                    <td th:text="${person.lastName}"></td>
                    <td th:text="${person.email}"></td>
                    <td>
                        <a th:href="@{/edit/{repo}/{id}(repo=person, id=${person.id})}">Edit</a>
                    </td>
                </tr>
            </table>
                </span>
        </div>
    </div>
</div>
<div class="card">
    <div class="card-header" role="tab" id="headingOne">
        <h5 class="mb-0">
            <a data-toggle="collapse" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                Education
            </a>
        </h5>
    </div>

    <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion">
        <div class="card-body">
            <table>
                <tr>
                    <th>School</th>
                    <th>Degree</th>
                    <th>Graduation year</th>
                    <th>Edit/Delete</th>
                </tr>
                <tr th:each="ed : ${education}">
                    <td th:text="${ed.schoolName}"/>
                    <td th:text="${ed.degree}"/>
                    <td th:text="${ed.gradYear}"/>
                    <td>
                        <a th:href="@{/edit/{repo}/{id}(repo=education, id=${ed.id})}">Edit</a> -
                        <a th:href="@{/delete/{repo}/{id}(repo=education, id=${ed.id})}">Delete</a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
<div class="card">
    <div class="card-header" role="tab" id="headingTwo">
        <h5 class="mb-0">
            <a class="collapsed" data-toggle="collapse" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                Work
            </a>
        </h5>
    </div>
    <div id="collapseTwo" class="collapse show" role="tabpanel" aria-labelledby="headingTwo" data-parent="#accordion">
        <div class="card-body">
            <span th:if="${message}">You need to delete or modify a skill.  Only 20 are allowed.</span>
            <table>
            <tr>
                <th>Company</th>
                <th>Title</th>
                <th>Start date</th>
                <th>End date</th>
                <th>First duty</th>
                <th>Second duty</th>
                <th>Edit/Delete</th>
            </tr>
                <tr th:each="job : ${jobs}">
                    <td th:text="${job.company}"/>
                    <td th:text="${job.title}"/>
                    <td th:text="${job.startDate}"/>
                    <td th:text="${job.endDate}"/>
                    <td th:text="${job.firstDuty}"/>
                    <td th:text="${job.secondDuty}"/>
                    <td>
                        <a th:href="@{/edit/{repo}/{id}(repo=work, id=${job.id})}">Edit</a> -
                        <a th:href="@{/delete/{repo}/{id}(repo=work, id=${job.id})}">Delete</a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
<div class="card border-light">
    <div class="card-header" role="tab" id="headingThree">
        <h5 class="mb-0">
            <a class="collapsed" data-toggle="collapse" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                Skills
            </a>
        </h5>
    </div>
    <div id="collapseThree" class="collapse show" role="tabpanel" aria-labelledby="headingThree" data-parent="#accordion">
        <div class="card-body">
            <table>
                <tr>
                    <th>Skill</th>
                    <th>Skill level</th>
                    <th>Edit/Delete</th>
                </tr>
                <tr th:each="skill : ${skills}">
                    <td th:text="${skill.skillName}"/>
                    <td th:text="${skill.skillLevel}"/>

                    <td>
                        <a th:href="@{/edit/{repo}/{id}(repo=skill, id=${skill.id})}">Edit</a> -
                        <a th:href="@{/delete/{repo}/{id}(repo=skill, id=${skill.id})}">Delete</a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>


<th:block th:replace="base :: jsscripts"></th:block>

</body>
</html>